In [1]:
#importando bibliotecas necessarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#trazendo nosso csv para um dataframe do pandas
dados_df = pd.read_csv('fortal_dados_climaticos.csv', sep=';', encoding='utf-8', low_memory = False)

In [3]:
#tratamento de dados -> necesario para o python endenda o que esta os
#tipos de dados que iremos utilizar
#display(dados_df)
dados_df['Data'] = pd.to_datetime(dados_df['Data'], dayfirst=True, errors='coerce')
display(dados_df)

,Data,Hora (UTC),Temp. [Hora] (C),Umi. (%),Pressao (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Nebulosidade (Decimos),Insolacao (h),Temp. Max. [Diaria] (h),Temp. Min. [Diaria] (h),Chuva [Diaria] (mm)
0,2024-05-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"32,2",NaN,NaN
1,2024-05-01,1200,"27,9","82,0","1009,4","2,6","140,0","8,8",NaN,NaN,"24,8","3,7"
2,2024-05-01,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-05-02,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"32,5",NaN,NaN
4,2024-05-02,1200,"27,9","82,0","1009,4","2,6","140,0","8,8",NaN,NaN,"24,8","3,7"
...,...,...,...,...,...,...,...,...,...,...,...,...
367,2024-08-31,1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,2024-08-31,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,2024-09-01,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,2024-09-01,1200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371,2024-09-01,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Lista de colunas numÃƒÂ©ricas
colunas_numericas = [
"Temp. Ins. (C)", "Temp. Max. (C)", "Temp. Min. (C)", "Umi. Ins. (%)",
"Umi. Max. (%)", "Umi. Min. (%)", "Pto Orvalho Ins. (C)", "Pto Orvalho Max. (C)",
"Pto Orvalho Min. (C)", "Pressao Ins. (hPa)", "Pressao Max. (hPa)",
"Pressao Min. (hPa)", "Vel. Vento (m/s)", "Dir. Vento (m/s)", "Raj. Vento (m/s)",
"Radiacao (KJ/mÂ²)", "Chuva (mm)"]

In [7]:
#converte as benditas virgulas (,) em ponto(.)
for col in colunas_numericas:
    #troca a virgula pelo ponto
    dados_df[col] = dados_df[col].astype(str).str.replace(',','.', regex=False)
    #converte a string que representa valores reais em numerico (float)
    dados_df[col] = pd.to_numeric(dados_df[col], errors='coerce')

KeyError: 'Temp. Ins. (C)'

In [ ]:
#plantando Tudo...
#configura o stylo do grafico
sns.set(style='whitegrid')
#cria uma paleta de cores com estilo 'husl', com uma cor diferente para cada coluna numericas
colors = sns.color_palette('husl', len(colunas_numericas))
#cria uma figura com varios subgrafico (subplots) dispostas em uma coluna (1 por linha).
#o figsize ajusta o tamanho da imagem final proporcionamente ao numero do grafico
fig, axes = plt.subplots(len(colunas_numericas), 1, figsize=(12, 5 * len(colunas_numericas)))

In [ ]:
for i, col in enumerate(colunas_numericas):
    #gerando um grafico de linha (lineplot)para a variavel col ao longo da coluna de datas (dados_df)
    #usa um dos eixos (axes[i]) e aplica uma cor distinta
    #adicona marcador em cada ponto da linha (marker='o')
    sns.lineplot(x=fortal_dado_climaticos_df['Data'], y=dados_df[col], ax=axes[i], color=colors[i], marker='o')
    #define o titulo e os rotulos dos eixos
    axes[i].set_title(f'{col} ao longo do tempo')
    axes[i].set_xlabel('Data')
    axes[i].set_ylabel(col)
    #Gera as ratulas do x para 45Âº para melhora a leitura
    axes[i].tick_params(axis='x', rotation=45)

In [ ]:
#ajusta o layaut para evitar sobreposiÃ§ao
plt.tight_layout()

#mostra os graficos
plt.show()